*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "specimen", sans-serif;
}
body{
  text-align: center;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  border-style: dashed;
  border-color: blue;
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
}
